.navbar-container {
  background-color: #fafa88;
}
.active {
  background-color: #db5752;
  border: 1px solid rgb(172, 170, 170);
}

.link-to-section {
  color: #9ac9fb;
  padding: 1.3rem;
  margin: 0.1rem;
  text-decoration: none;
  border-radius: 0.7rem;
}

.logo-img {
  height: 8vh;
}
