.navbar-container {
  background-color: #fafa88;
}

.link-to-section {
  color: #9ac9fb;
  padding: 0.5rem;
  margin: 0.1rem;
  text-decoration: none;
  border-radius: 0.7rem;
}

.logo-img {
  height: 8vh;
}

@media (max-width: 600px) {
  .img-logo {
    height: auto;
  }
}
