.form-container {
  width: 60%;
  margin: 15px auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-field {
  padding: 15px 30px;
  border: 1px solid #c1c1c1;
}

.select-field {
  padding: 10px;
  border: 1px solid #c1c1c1;
}

.submit-btn {
  background-color: #2e86c1;
  padding: 10px 15px;
  border: none;
  color: #fff;
}

.error {
  color: rgb(255, 0, 0);
}

.submit-btn:hover {
  cursor: pointer;
  background-color: #3498db;
}
