.container {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 300px;
  object-fit: contain;
}

.info {
  flex-direction: column;
  background-color: #f2f2f2;
  padding: 15px;
  border-radius: 30px;
}

.name {
  margin: 0;
  margin-bottom: 16px;
  text-align: center;
}

.description {
  margin: 0;
  margin-bottom: 16px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 32px;
  }
  .info {
    width: 70%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 992px) {
  .container {
    padding: 48px;
  }
}

@media screen and (min-width: 320px) and (max-width: 414px) {
  .description {
    text-align: justify;
    text-justify: inter-word;
  }
}
