#player {
  background-color: red;
  .ytp-pause-overlay {
    display: none;
  }
  iframe {
    .ytp-show-cards-title {
      display: none !important;
    }
    .ytp-title-text {
      display: none !important;
    }
    html {
      width: 2rem;
    }
  }
}
